* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.header {
    padding: 20px 0;
    background-color: rgb(9, 9, 9);
    height: 80px auto;
    transition: .3s;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
    color: white;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    width: 100%;
    padding: 0 10px;
}

.logo-menu {
    width: 50%;
}

.items-menu {
    display: block;
    padding-top: 10px;
    width: 50%;
    text-align: right;
}

.items-menu a {
    display: inline-block;
    align-self: center;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
    padding: 3px 0;
    color: white;
}

.items-menu .active,
.items-menu a:hover {
    border-bottom: 3px solid goldenrod;
    color: goldenrod;
}

.banner {
    width: 100vw;
    height: calc(100vh - 80px);
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* menu mobile */
.menu-mobile {
    background-color: rgb(26, 26, 26);
}

.items-menu--mobile {
    width: 50%;
    text-align: right;
    display: none;
}

.items-menu--mobile i {
    position: relative;
    top: 0px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(239, 244, 244);
}

/*  banner  */


.banner {
    width: 100%;
    height: calc(100vh - 80px);
    background-color: rgb(10, 10, 10);
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.banner .sliders {
    margin-left: -0vw;
    width: 1000vw;
    height: 100%;
}


.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, .6);
}

.banner .slidearea {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

.banner .slidearea img {
    width: 250px;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

.banner h1 span {
    color: goldenrod;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
    color: goldenrod;
}

/* sobre */
.sobre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    height: 300px auto;
}

.sobre h2 {
    font-size: 40px;
}

.sobre .center {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px auto;
    padding: 20px 10px;
}

.texto-sobre {
    padding: 10px;
    width: 50%;
    color: #333;
}

.texto-sobre p {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 10px;
}

.imagem {
    padding: 10px;
    width: 50%;
}

.imagem img {
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 8px 10px rgb(71, 71, 71);
}

/* credibilidade */

section.selos {
    padding: 40px 0;
    background-color: black;
    color: aliceblue;

}

.selos-area {
    display: flex;
    width: 100%;
}

.box-selo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 15px rgb(71, 71, 71);
    border-radius: 10px;
    width: 31%;
    margin: 1%;
    padding: 10px 20px;
}

.box-selo img {
    width: 100px;
    height: auto;
}

.box-selo h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.box-selo p {
    font-size: 15px;
    margin-bottom: 20px;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    height: 300px auto;
}

.servicos h2 {
    font-size: 40px;
}

.servicos .center {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    height: 600px auto;
    padding: 20px 10px;
}

.servicos-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-servico {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 15px rgb(71, 71, 71);
    border-radius: 10px;
    width: 31%;
    margin: 1%;
    padding: 10px;
}

.box-servico img {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .header {
        /* position: fixed; */
        width: 100%;
    }

    .items-menu--mobile {
        display: block;
    }

    .menu-mobile {
        opacity: 0;
        transition: .3s;
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .show {
        opacity: 1;
    }

    .hide {
        opacity: 0;
    }

    .menu-mobile a {
        font-size: 14px;
        text-align: center;
        display: block;
        margin: 8px 0;
        text-decoration: none;
        color: #ccc;
        border-bottom: 1px solid rgb(46, 46, 46);
        padding: 8px 0;
    }

    .logo-menu h1 {
        font-size: 20px;
    }

    .items-menu {
        display: none;
    }

    .banner h1 {
        font-size: 25px;
    }

    .banner {
        width: 100vw;
        height: 500px;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .banner h2 {
        font-size: 18px;
    }

    .sobre {
        flex-wrap: wrap;
        padding: 30px 20px;
        width: 100%;
        height: 300px auto;
    }

    .sobre .center {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .texto-sobre {
        padding: 10px;
        width: 100%;
        color: #333;
    }

    .texto-sobre p {
        line-height: 1.5;
        text-align: justify;
        margin-bottom: 20px;
    }

    .imagem {
        padding: 10px;
        width: 100%;

    }

    .selos-area {
        flex-wrap: wrap;
        padding: 20px;
        width: 100%;
    }

    .box-selo {
        width: 100%;
        margin: 1%;
    }

    .servicos {
        flex-wrap: wrap;
        width: 100%;
    }

    .servicos-area {
        padding: 10px;
    }

    .box-servico {
        width: 100%;
        margin: 1%;
        padding: 10px;
    }

    .box-servico img {
        width: 100%;
        margin: 1%;
    }
}